html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @font-face {
    font-family: "porshce-next-regular";
    src: url("font/porsche-next-latin-regular.b8f1c20.woff2") format(".woff2");
  }

  @font-face {
    font-family: "porsche-next-semi-bold";
    src: url("font/porsche-next-latin-semi-bold.b5f6fca.woff2") format(".woff2");
  }
  
  .main-header {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .background-video {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: none;
    margin: 0;
    padding: 0;
    z-index: 0;
  }
  
  @media (max-width: 1000px) {
    .video-small {
      display: block;
    }
  }
  
  @media (min-width: 1000px) {
    .video-big {
      display: block;
    }
  }
  
  /* اگر می‌خواهی محتوای روی ویدیو باشد: */
  .main-header > *:not(.background-video) {
    position: relative;
    z-index: 1;
  }


  .nav-header {
    display: flex;
    block-size: 65px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 8.1%, rgba(0, 0, 0, 0.8) 15.5%, rgba(0, 0, 0, 0.8) 22.5%, rgba(0, 0, 0, 0.78) 29%, rgba(0, 0, 0, 0.73) 35.3%, rgba(0, 0, 0, 0.67) 41.2%, rgba(0, 0, 0, 0.6) 47.1%, rgba(0, 0, 0, 0.52) 52.9%, rgba(0, 0, 0, 0.44) 58.8%, rgba(0, 0, 0, 0.33) 64.7%, rgba(0, 0, 0, 0.22) 71%, rgba(0, 0, 0, 0.12) 77.5%, rgba(0, 0, 0, 0.05) 84.5%, rgba(0, 0, 0, 0.01) 91.9%, rgba(0, 0, 0, 0) 100%);
    align-items: center;
    justify-content: center;
  }

  .nav-header-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 50px;
    margin-left: 43px;
  }

  .Navigation-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .logo-svg {
    display: none;
  }

  .logo-img {
    position: relative;
    width: 30px;
    height: 40px;
    line-height: 24px;
    font-weight: 400;
    right: 15px;
  }

  .menu-header {
    display: flex;
  }

  .menu-header img {
    position: relative;
    display: flex;
    z-index: 2;
    width: 23px;
    height: 23px;
    grid-column-end: wide-end;
    grid-column-start: wide-start;
  }

  .user-header img {
    position: relative;
    display: flex;
    z-index: 2;
    width: 23px;
    height: 23px;
    grid-column-end: wide-end;
    grid-column-start: wide-start;
  }

  .text-menu-header {
    display: none;
  }