html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @font-face {
    font-family: "porshce-next-regular";
    src: url("font/porsche-next-latin-regular.b8f1c20.woff2") format(".woff2");
  }

  @font-face {
    font-family: "porsche-next-semi-bold";
    src: url("font/porsche-next-latin-semi-bold.b5f6fca.woff2") format(".woff2");
  }
  
  .main-header {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .background-video {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: none;
    margin: 0;
    padding: 0;
    z-index: 0;
  }
  
  @media (max-width: 1000px) {
    .video-small {
      display: block;
    }
  }
  
  @media (min-width: 1000px) {
    .video-big {
      display: block;
    }
  }
  
  
  .main-header > *:not(.background-video) {
    position: relative;
    z-index: 1;
  }



